<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/styles.css') }}">
    <!-- fontawesome Style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
</head>
<body>
    <div class="top-bar">
        <div class="top-info">
            <div>
                <a href="#"><i class="fa-solid fa-phone"></i>Call : 123456789</a>
            </div>
            <div>
                <a href="#"><i class="fa-solidfa-envelope"></i>Email : abc@gmail.com</a>
            </div>
        </div>
    </div>
    <nav>
        <div class="logo">
            <a href="#">inance</a>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li class="logreg"><a href="/login">Login</a><span> / </span><a href="/register">Register</a></li>
        </ul>
    </nav>
    <section class="about">
        <div class="wrapper">
            <div class="about-content">
                <div class="about-text">
                    <h2>About us</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomisedThere are many variations of passages
                        of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected
                        humour, or randomised</p>
                    <a href="#">Read more</a>
                </div>
                <div class="about-img">
                    <img src="/static/images/about-img.jpg" alt="about-img">
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="wrapper">
            <h4>get in touch</h4>
            <div class="footer-inner">
                <div class="footer-items">
                    <i class="fa-solid fa-location-dot"></i>
                    <h5>123,href location</h5>
                </div>
                <div class="footer-items">
                    <i class="fa-solid fa-phone"></i>
                    <h5>123456789</h5>
                </div>
                <div class="footer-items">
                    <i class="fa-solid fa-envelope"></i>
                    <h5>abc@mail.com</h5>
                </div>
            </div>
            <div class="social">
                <h4>Follow us</h4>
                <ul>
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>       
            </div>
            <div class="rights">
                <p>&copy; <span>2024 All Rights Reserved. By Muhammad Laraib</span></p>
            </div>
        </div>
    </footer>
</body>
</html>